<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ru study buddy</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<style>
		h1 {color:white;
			text-align: center;
			font-family: 'Open Sans';
		}

		h3 {color:white;
			text-align: center;
			font-family: 'Open Sans';
		}

		body {background-color: #800000;}
	</style>
</head>
<body>
	
	<a href='/logout' class="waves-effect waves-light btn red lighten-1">
        LOGOUT
    </a>

	<h1>ru study buddy</h1>
	<h3> department selection </h3>

	<div class="collection">
		<% for(var i=0; i <subjectsList.length; i++) { %>
			<a href='/selecteddept/<%= subjectsList[i].code %>' class="collection-item center-align"><%= subjectsList[i].description %></a>
	    <% } %>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>