<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RU Study Buddy</title>
</head>
<body>
	<h1>RU STUDY BUDDY LOGIN</h1>
	<a href="/auth/facebook">
		SIGN IN WITH FACEBOOK
	</a>
</body>
</html>